body {
    &.single-experiences {
        .Header {
            background-color: #b00725;
            padding: 10px 0;
        }
    }
}

.App {
    &__fontItalic {
        font-style: italic;
    }
    &__firstColorAlt {
        color: $firstColorAlt;
    }
    &__secondColorAlt {
        color: $secondColorAlt;
    }
}