.App {
    &__Page {
        padding: 7em 0;
        &__title {
            font-family: $fontReef;
            font-size: 2.5em;
            margin: 0 0 1em;
            text-transform: uppercase;
        }
        &__subtitle {
            font-family: $fontSource;
            font-size: 1.75em;
            font-weight: 300;
            margin: 0 0 0.8em;
        }
        &__content {
            margin-top: 2em;
            @media screen and (min-width: 768px) {
                margin-top: 0;
            }
            h4 {
                color: $secondColorAlt;
                font-size: 2em;
                font-style: italic;
            }
        }
    }
}
