.Button {
  display: inline-block;
  @include border-radius(8px);
  @include box-shadow(rgba(black, 0.15) 0 -5px 2px 0 inset);
  color: white;
  font-family: "reef";
  font-size: 28px;
  font-style: normal;
  line-height: 1.1em;
  padding: 15px 25px;
  @include transition(all 0.2s ease);
  @media screen and (max-width: 991px) {
    font-size: 24px;
    padding: 10px 20px;
  }
  &--icon {
    i {
      vertical-align: middle;
    }
  }
  &--red {
    background-color: $red;
  }
  &--blue {
    background-color: $blue;
  }
  &--yellow {
    background-color: $yellow;
  }
  &--medium {
    font-size: 24px;
    padding: 10px 20px;
    @media screen and (max-width: 991px) {
      font-size: 20px;
      padding: 10px 15px;
    }
  }
  &--small {
    font-size: 18px;
    padding: 10px 15px;
    @media screen and (max-width: 991px) {
      font-size: 16px;
      padding: 10px 15px;
    }
  }
  &:hover, &:focus {
    @include box-shadow(rgba(black, 0.15) 0 5px 2px 0 inset);
    color: white;
    text-decoration: none;
  }
}
.Arrow {
  @include animation-duration(3s);
  background-color: transparent;
  border: none;
  bottom: 80px;
  color: $white;
  left: 50%;
  position: absolute;
  text-align: center;
  i {
    display: block;
    font-size: 2em;
  }
  @media screen and (max-width: 991px) {
    bottom: 10px;
    left: 47%;
  }
}
.ArrowTop {
  @include animation-duration(3s);
  bottom: 120px;
  color: $grayText;
  display: none;
  font-size: 2em;
  position: fixed;
  right: 25px;
  z-index: 9;
}
