.Button {
  display: inline-block;
  @include border-radius(8px);
  @include box-shadow(rgba(black, 0.15) 0 -5px 2px 0 inset);
  color: white;
  font-family: "reef";
  font-size: 28px;
  font-style: normal;
  line-height: 1.1em;
  padding: 15px 25px;
  @include transition(all 0.2s ease);
  &--red {
    background-color: $red;
  }
  &--blue {
    background-color: $blueHard;
  }
  &:hover {
    @include box-shadow(rgba(black, 0.15) 0 5px 2px 0 inset);
    color: white;
    text-decoration: none;
  }
}
