.Cards {
  @include display-flex();
  &--history {
    @include flex-wrap(wrap);
    p {
      color: $grayHard;
    }
    .Cards-item {
      padding: 40px 10px;
      @media screen and (max-width: 991px) {
        padding: 10px;
      }
      &:nth-child(2n+1) {
        background-color: #e0e0e0;
      }
    }
    .Cards-title {
      &::after {
        background: transparent url('./../images/icon-separator.png') 0 0 no-repeat;
        content: "";
        display: block;
        height: 13px;
        margin: 25px auto;
        width: 52px;
      }
    }
  }
  &--logos {
    @include flex-wrap(wrap);
    .Cards-item {
      @include flex-basis(25%);
      margin-bottom: 25px;
    }
  }
}
.Cards-item {
  @include flex(1 1 20%);
  @media screen and (max-width: 991px) {
    @include flex(0 1 25%);
    margin-bottom: 15px;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    @include flex(0 1 50%);
  }
}
.Cards-title {
  font-family: "reef";
  font-size: 2em;
}
