.Carousel {
  &--home {
    .carousel-caption {
      @include align-content(center);
      @include display-flex();
      @include flex-wrap(wrap);
      bottom: auto;
      height: 100%;
      padding: 0;
      text-align: left;
      top: 0;
      width: 40%;
      h2, h3, p {
        @include flex-basis(100%);
      }
      h3 {
        font-size: 2.875em;
        font-style: italic;
        margin-bottom: 0;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 2.5em;
        }
        @media screen and (max-width: 600px) and (orientation: landscape){
          font-size: 1.5em;
        }
      }
      h2 {
        font-family: "reef";
        font-size: 5.625em;
        margin-bottom: 0;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 3.5em;
        }
        @media screen and (max-width: 600px) and (orientation: landscape){
          font-size: 2em;
        }
      }
      p {
        font-size: 1.5em;
        font-style: italic;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 1.125em;
        }
      }
      &--right {
        left: auto;
        right: 10%;
      }
      &--left {
        left: 10%;
      }
      &--center {
        left: 20%;
        text-align: center;
        width: 60%;
      }
      @media screen and (max-width: 991px) {
        &--right, &--left, &--center {
          left: 10%;
          text-align: center;
          width: 80%;
        }
      }
    }
  }
  &--page {
    .carousel-content {
      background-color: $redSoft;
      @include display-flex();
      @media screen and (max-width: 767px) {
        @include flex-wrap(wrap);
      }
    }
    .carousel-figure {
      @include flex-basis(50%);
      @media screen and (max-width: 1400px) {
        @include flex-basis(60%);
      }
      @media screen and (max-width: 991px) {
        @include flex(0 1 auto);
      }
    }
    .carousel-caption {
      bottom: auto;
      @include display-flex();
      @include flex-direction(column);
      @include justify-content(center);
      @include flex-basis(50%);
      left: auto;
      padding: 0 25px;
      position: relative;
      right: auto;
      text-align: left;
      @include text-shadow(none);
      top: auto;
      h3, p {
        width: 50%;
        @media screen and (max-width: 1400px) {
          width: 100%;
        }
      }
      h3 {
        font-family: "reef";
        font-size: 2.625em;
        margin-bottom: 25px;
        margin-top: 0;
        @media screen and (max-width: 767px) {
          font-size: 2em;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 1.125em;
        @media screen and (max-width: 767px) {
          font-size: 1em;
          margin-bottom: 0;
        }
      }
      @media screen and (max-width: 991px) {
        background-color: rgba(black, 0.6);
        bottom: 0;
        left: auto;
        position: absolute;
        top: auto;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        background-color: transparent;
        @include flex(0 1 100%);
        padding: 15px;
        position: relative;
      }
    }
    .carousel-indicators {
      bottom: 10%;
      left: auto;
      margin: 0;
      right: 35%;
      width: auto;
      li {
        @include border-radius(50%);
        height: 25px;
        width: 25px;
      }
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }
  &--sedes {
    margin-bottom: 30px;
    min-height: 500px;
    .carousel-inner {
      min-height: 500px;
    }
    .item {
      min-height: 500px;
      img {
        margin-bottom: 15px;
        width: 90%;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .carousel-indicators {
      bottom: 80px;
      left: 25px;
      margin-bottom: 0;
      margin-left: 0;
      text-align: left;
      width: auto;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .carousel-control {
      bottom: auto;
      font-size: 2em;
      @include opacity(1);
      @include text-shadow(none);
      width: auto;
      @media screen and (max-width: 767px) {
        font-size: 2.5em;
      }
      i {
        background-color: #d2d2d2;
        @include border-radius(50%);
        display: block;
        padding: 3px;
      }
      &.left, &.right {
        background-image: none;
        right: 50px;
        @media screen and (max-width: 991px) {
          right: 0;
        }
      }
      &.left {
        left: auto;
        @media screen and (max-width: 767px) {
          top: 10px;
        }
      }
      &.right {
        top: 50px;
        @media screen and (max-width: 767px) {
          top: 60px;
        }
      }
      &:hover, &:focus {
        i {
          background-color: #2845a0;
        }
      }
    }
    .carousel-caption {
      background-color: #fff;
      border: 1px solid #d2d2d2;
      bottom: 0;
      left: auto;
      padding: 15px;
      right: 0;
      text-align: left;
      @include text-shadow(none);
      width: 40%;
      @media screen and (max-width: 991px) {
        width: 70%;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 15px;
        position: relative;
        width: 100%;
      }
      h3 {
        color: #db1d1d;
        font-family: "reef";
        font-size: 2em;
        margin-bottom: 15px;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 1.5em;
        }
      }
      p {
        color: #2a2a2a;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        margin-bottom: 0;
        @media screen and (max-width: 991px) {
          font-size: 0.875em;
        }
      }
    }
  }
}
