.Carousel {
  &--home {
    .carousel-caption {
      @include align-content(center);
      @include display-flex();
      @include flex-wrap(wrap);
      bottom: auto;
      height: 100%;
      padding: 0;
      text-align: left;
      top: 0;
      width: 40%;
      h2, h3, p {
        @include flex-basis(100%);
      }
      h3 {
        font-size: 2.875em;
        font-style: italic;
        margin-bottom: 0;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 2.5em;
        }
        @media screen and (max-width: 600px) and (orientation: landscape){
          font-size: 1.5em;
        }
      }
      h2 {
        font-family: "reef";
        font-size: 5.625em;
        margin-bottom: 0;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 3.5em;
        }
        @media screen and (max-width: 600px) and (orientation: landscape){
          font-size: 2em;
        }
      }
      p {
        font-size: 1.5em;
        font-style: italic;
        margin-top: 0;
        @media screen and (max-width: 991px) {
          font-size: 1.125em;
        }
      }
      &--right {
        left: auto;
        right: 10%;
      }
      &--left {
        left: 10%;
      }
      &--center {
        left: 20%;
        text-align: center;
        width: 60%;
      }
      @media screen and (max-width: 991px) {
        &--right, &--left, &--center {
          left: 10%;
          text-align: center;
          width: 80%;
        }
      }
    }
  }
  &--page {
    // .carousel-inner {
    //   @include display-flex();
    // }
    .carousel-content {
      @include display-flex();
      @include align-items(center);
    }
    // .carousel-figure, .carousel-caption {
    //   @include flex(1 1 0);
    // }
    .carousel-figure {
      @include flex-basis(50%);
      @media screen and (max-width: 1400px) {
        @include flex-basis(60%);
      }
    }
    .carousel-caption {
      bottom: 0;
      @include flex-basis(30%);
      left: 0;
      padding: 0 25px;
      position: relative;
      right: 0;
      text-align: left;
      @include text-shadow(none);
      top: 0;
      h3 {
        font-family: "reef";
        font-size: 2.625em;
        margin-bottom: 25px;
        margin-top: 0;
      }
      p {
        font-size: 1.125em;
      }
    }
    .carousel-indicators {
      bottom: 10%;
      left: auto;
      margin: 0;
      right: 35%;
      width: auto;
      li {
        @include border-radius(50%);
        height: 25px;
        width: 25px;
      }
    }
  }
  &--sedes {
    margin-bottom: 30px;
    .item {
      img {
        margin-bottom: 15px;
        width: 90%;
      }
    }
    .carousel-indicators {
      bottom: 80px;
      left: 25px;
      margin-bottom: 0;
      margin-left: 0;
      text-align: left;
      width: auto;
    }
    .carousel-control {
      bottom: auto;
      font-size: 2em;
      @include opacity(1);
      @include text-shadow(none);
      width: auto;
      i {
        background-color: #d2d2d2;
        @include border-radius(50%);
        display: block;
        padding: 3px;
      }
      &.left, &.right {
        background-image: none;
        right: 50px;
      }
      &.left {
        left: auto;
      }
      &.right {
        top: 50px;
      }
      &:hover, &:focus {
        i {
          background-color: #2845a0;
        }
      }
    }
    .carousel-caption {
      background-color: #fff;
      border: 1px solid #d2d2d2;
      bottom: 0;
      left: auto;
      padding: 15px;
      right: 0;
      text-align: left;
      @include text-shadow(none);
      width: 40%;
      h3 {
        color: #db1d1d;
        font-family: "reef";
        font-size: 2em;
        margin-bottom: 15px;
        margin-top: 0;
      }
      p {
        color: #2a2a2a;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        margin-bottom: 0;
      }
    }
  }
}
