.Form {
  &--group {

  }
  &--search {
    .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $gray;
      @include box-shadow(none);
      color: $grayText;
      font-size: 1em;
      font-weight: 300;
      text-align: right;
      @include input-placeholder {
        color: $grayText;
        font-size: 1em;
        font-weight: 300;
      }
      &:first-child {
        @include border-radius(0);
      }
    }
    .input-group-btn {
      &:last-child {
        > .btn {
          background-color: transparent;
          @include border-radius(0);
          color: $gray;
          font-size: 18px;
        }
      }
    }
  }
  &--fields {
    .form-control {
      @include border-radius(6px);
      border-color: #7f7f7f;
      color: $text-color;
      font-size: 1.125em;
      height: auto;
      @include input-placeholder {
        color: $text-color;
      }
    }
    .Form-loader {
      color: white;
      display: inline-block;
      font-size: 1em;
      margin: 0 0 0 10px;
      vertical-align: middle;
    }
    .Form-title {
      color: #3551ac;
      font-family: "reef";
      font-size: 1.375em;
    }
  }
}
