body {
  background-color: $white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  position: relative;
  &.home {
    .Header {
      &.affix-top {
        .Menu--home {
          visibility: hidden;
        }
      }
      &.affix {
        .Menu--home {
          visibility: visible;
        }
      }
    }
  }
  &.single-locals {
    .MainMenu {
      > li {
        &:hover, &.active, &.menu-item-object-locals {
          > a {
            background-color: transparent;
            border-bottom: 3px solid $white;
          }
        }
      }
    }
    .Header {
      &.affix {
        .MainMenu {
          > li {
            &:hover, &.active, &.menu-item-object-locals {
              > a {
                border-bottom: 3px solid $white;
              }
            }
          }
        }
      }
    }
  }
  &.search {
    .MainMenu {
      > li {
        &:hover, &.active, &.menu-item-object-category {
          > a {
            background-color: transparent;
            border-bottom: 3px solid $white;
          }
        }
      }
    }
    .Header {
      &.affix {
        .MainMenu {
          > li {
            &:hover, &.active, &.menu-item-object-category {
              > a {
                border-bottom: 3px solid $white;
              }
            }
          }
        }
      }
    }
  }
}
a {
  @include transition(all 0.2s ease);
}
.Grid-positionStatic {
  position: static;
}
.text-white {
  color: $white;
}
.text-red {
  color: $red;
}
.text-gray {
  color: $gray;
}
.text-azul {
  color: $azul;
}
.text-resalt {
  font-size: 1.25em;
}
.text-celeste {
  color: $celeste;
}
