body {
  background-color: $white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  position: relative;
  &.home {
    .Header {
      &.affix-top {
        .Menu--home {
          visibility: hidden;
        }
      }
      &.affix {
        .Menu--home {
          visibility: visible;
        }
      }
    }
  }
}
a {
  @include transition(all 0.2s ease);
}
.Grid-positionStatic {
  position: static;
}
.text-white {
  color: $white;
}
.text-red {
  color: $red;
}
.text-gray {
  color: $gray;
}
.text-azul {
  color: $azul;
}
.text-resalt {
  font-size: 1.25em;
}
