.Header {
  position: fixed;
  padding: 15px 0;
  top: 0;
  @include transition(all 0.2s ease-in-out);
  width: 100%;
  z-index: 99;
  @media screen and (max-width: 991px) {
    padding: 10px 0;
  }
  &.affix {
    background-color: $red;
    padding: 10px 0;
    .MainMenu {
      > li {
        &:hover, &.active, &.current-menu-item, &.current-post-ancestor, &.current-category-ancestor {
          > a {
            border-bottom: 3px solid $white;
          }
        }
        a {
          &::after {
            border-bottom-color: $blue;
          }
        }
      }
      .sub-menu {
        background-color: $blue;
        bottom: -49px;
      }
    }
  }
}
.Header-logo {
  margin: 0;
  @media screen and (max-width: 991px) {
    a {
      display: inline-block;
    }
    img {
      margin: 0;
    }
  }
  @media screen and (max-width: 767px) {
    img {
      max-width: 180px;
    }
  }
}
.Header-menu {
  @include display-flex();
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}
.Header-toggle {
  color: white;
  cursor: pointer;
  font-size: 2.5em;
}
.Header-central {
  color: $white;
  span {
    font-size: 1.125em;
    font-weight: 600;
  }
}
