.MainMenu {
  @include display-flex();
  @include justify-content(space-around);
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
  li {
    border-right: 1px solid $white;
    @include flex-grow(1);
    text-align: center;
    @include transition(all 0.2s ease-in-out);
    &:last-child {
      border-right: none;
    }
    a {
      color: $white;
      display: inline-block;
      font-size: 0.875em;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      @include transition(all 0.2s ease);
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    &:hover {
      .sub-menu {
        @include display-flex();
      }
    }
    &.menu-item-has-children {
      &:hover {
        > a {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  > li {
    position: static;
    &:hover, &.active, &.current-menu-item, &.current-post-ancestor, &.current-category-ancestor {
      > a {
        background-color: transparent;
        border-bottom: 3px solid $white;
      }
    }
    a {
      padding: 0 0 8px 0;
      &::after {
        border-bottom: 10px solid $blue;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: -3px;
        content: "";
        display: none;
        left: 40%;
        text-align: center;
        position: absolute;
        @include transition(all 0.2s ease);
      }
    }
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
  .sub-menu {
    background-color: $blue;
    bottom: -36px;
    display: none;
    @include justify-content(center);
    left: 0;
    padding: 15px 0;
    position: absolute;
    @include transition(all 0.2s ease);
    width: 100%;
    li {
      border-right: none;
      @include flex-grow(0);
      list-style: none;
      padding: 0 25px;
      a {
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;
      }
      &:hover, &.active {
        a {
          border-bottom-color: $white;
        }
      }
    }
  }
}
.MenuZone, .MenuCategories {
  @include display-flex();
}
.MenuZone {
  margin-bottom: 30px;
}
.MenuZone-list {
  @include display-flex();
  @include justify-content(center);
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  @media screen and (max-width: 767px) {
    @include flex-wrap(wrap);
  }
  li {
    list-style: none;
    margin-right: 1px;
    @media screen and (max-width: 767px) {
      @include flex(0 1 100%);
      margin-bottom: 10px;
      text-align: center;
    }
    &:first-child {
      a {
        @include border-top-left-radius(8px);
        @include border-bottom-left-radius(8px);
        @media screen and (max-width: 767px) {
          @include border-radius(0);
        }
      }
    }
    &:last-child {
      margin-right: 0;
      a {
        @include border-top-right-radius(8px);
        @include border-bottom-right-radius(8px);
        @media screen and (max-width: 767px) {
          @include border-radius(0);
        }
      }
    }
    a {
      background-color: $red;
      color: $white;
      display: block;
      font-family: "reef";
      font-size: 1.25em;
      padding: 5px 60px;
      @media screen and (max-width: 767px) {
        padding: 10px 0;
      }
    }
    &.current-menu-item, &.current-category-ancestor, &.active, &:hover {
      a {
        background-color: $redDark;
        text-decoration: underline;
      }
    }
  }
  &--blue {
    li {
      a {
        background-color: $blueMenu;
      }
      &.current-menu-item, &.active, &:hover {
        a {
          background-color: $blue;
        }
      }
    }
  }
}
.MenuCategories {
  margin-bottom: 25px;
}
.MenuCategories-list {
  @include display-flex();
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  @media screen and (max-width: 767px) {
    overflow-x: auto;
    padding-bottom: 15px;
  }
  li {
    list-style: none;
    margin-right: 3px;
    @media screen and (max-width: 767px) {
      @include flex(0 0 auto);
    }
    a {
      background-color: $azul;
      @include border-radius(5px);
      color: $white;
      display: block;
      font-size: 1.125em;
      padding: 8px 20px;
    }
    &.active, &.current-menu-item, &:hover {
      a {
        background-color: $orange;
        text-decoration: none;
      }
    }
  }
}
.MenuSedes {
  @include display-flex();
  @include justify-content(center);
  margin-bottom: 30px;
}
.MenuSedes-list {
  border-bottom: none;
  @include display-flex();
  @include justify-content(center);
  color: white;
  font-family: "reef";
  font-size: 1.375em;
  @include flex(0 1 auto);
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  @media screen and (max-width: 767px) {
    font-size: 1.125em;
  }
  li {
    background-color: $azul;
    @include border-radius(4px);
    @include box-shadow(rgba(black, 0.15) 0 -5px 2px 0 inset);
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 20px;
    @include transition(all 0.2s ease-out);
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    &.active, &:hover {
      background-color: #b20028;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  > li {
    float: none;
    margin-bottom: 0;
    &.active {
      > a, a:focus, a:hover {
        background-color: transparent;
        border: none;
        color: white;
      }
    }
    > a {
      @include border-radius(none);
      color: white;
      &:hover, &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
}
.NavMenu {
  color: $white;
  font-family: "reef";
  font-size: 1em;
  position: absolute;
  text-align: center;
  top: 35%;
  &.left {
    left: 20px;
  }
  &.right {
    right: 20px;
  }
  span {
    display: block;
  }
  i.glyphicon {
    border: 1px solid $white;
    @include border-radius(3px);
    color: $white;
    display: inline-block;
    font-size: 2em;
    margin-top: 5px;
    padding: 25px 10px;
  }
  &:hover, &:focus {
    color: $red;
    text-decoration: none;
    i.glyphicon {
      border-color: $red;
      color: $red;
    }
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}
