.Parallax {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  @include display-flex();
  @include align-items(center);
  padding: 120px 0;
  &--fixed {
    background-attachment: fixed;
    background-position: 0 70px;
    background-size: contain;
  }
}
.Parallax-caption {
  @include display-flex();
  @include flex-wrap(wrap);
  width: 45%;
  &--left {
    margin: 0 auto 0 10%;
  }
  &--right {
    margin: 0 10% 0 auto;
  }
  p {
    color: $white;
    @include flex-basis(100%);
    font-size: 2em;
    font-style: italic;
  }
}
.Parallax-caption-title {
  color: $white;
  font-family: "reef";
  font-size: 4.5em;
  margin-bottom: 0;
  margin-top: 0;
  @include flex-basis(100%);
}
