.Parallax {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  @include display-flex();
  @include align-items(center);
  padding: 120px 0;
  @media screen and (max-width: 991px) {
    padding: 80px 0;
  }
  &--fixed {
    background-attachment: fixed;
    background-position: 0 70px;
    background-size: contain;
  }
  &--pages {
    @include align-items(start);
    padding: 50px 0;
    @media screen and (max-width: 767px) {
      @include flex-wrap(wrap);
    }
  }
}
.Parallax-caption {
  @include display-flex();
  @include flex-wrap(wrap);
  width: 45%;
  &--left {
    margin: 0 auto 0 10%;
  }
  &--right {
    margin: 0 10% 0 auto;
  }
  &--full {
    margin: 0 auto;
    width: 80%;
  }
  @media screen and (max-width: 991px) {
    &--left, &--right, &--full {
      margin: 0 auto 0 10%;
      width: 80%;
    }
  }
  p {
    color: $white;
    @include flex-basis(100%);
    font-size: 2em;
    font-style: italic;
    @media screen and (max-width: 767px) {
      font-size: 1em;
    }
  }
}
.Parallax-caption-title {
  color: $white;
  font-family: "reef";
  font-size: 4.5em;
  margin-bottom: 0;
  margin-top: 0;
  @include flex-basis(100%);
  @media screen and (max-width: 767px) {
    font-size: 2.5em;
  }
}
.Parallax-caption-author {
  color: $white;
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
  @include flex-basis(100%);
}
.Parallax-page {
  @include flex-basis(50%);
  padding: 0 60px;
  @media screen and (max-width: 767px) {
    padding: 0 25px;
  }
  @media screen and (max-width: 600px) {
    @include flex-basis(100%);
    &:first-child {
      margin-bottom: 25px;
    }
  }
  p {
    color: $white;
    font-size: 1.25em;
    @media screen and (max-width: 991px) {
      font-size: 1em;
    }
  }
  &:first-child {
    border-right: 1px solid $white;
  }
}
.Parallax-page-title {
  color: $white;
  font-family: "reef";
  font-size: 2.625em;
}
