.Single {
}
.Single-box {
  @include border-radius(0 0 8px 8px);
  @include box-shadow(rgba(black, 0.2) 0 -5px 2px 0 inset);
  padding: 0 0 25px 0;
}
.Single-content {
  padding: 0 15px;
}
.Single-figure {
  border-bottom: 5px solid $red;
  margin-bottom: 25px;
}
.Single-title {
  color: $blueSoft;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
}
.Single-related {
  @include display-flex();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 25px 0;
  .Box-item {
    @include flex(0 1 45%);
    @media screen and (max-width: 991px) {
      @include flex(0 1 48%);
    }
    @media screen and (max-width: 500px) {
      @include flex(0 1 100%);
    }
    .Box-content {
      text-align: left;
    }
  }
}
.Single-related-title {
  color: $blueSoft;
  font-family: "reef";
  font-size: 1.5em;
  margin-top: 0;
  width: 100%;
}
