.Social {
  background-color: $blue;
  @include border-radius(15px 15px 0 0);
  @include box-shadow(rgba($blueShadow, 1) 0 -5px 2px 0 inset);
  bottom: 0;
  @include display-flex();
  padding: 8px 20px;
  position: fixed;
  right: 0;
  z-index: 99;
  @media screen and (max-width: 991px) {
    @include border-radius(0);
    padding: 15px 0;
    width: 100%;
  }
}
.Social-list {
  @include align-items(center);
  @include display-flex();
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  @media screen and (max-width: 991px) {
    @include justify-content(space-around);
    width: 100%;
  }
  .icon-alexia {
    background: transparent url('./../images/alexia-icon.png') 0 0 no-repeat;
    display: block;
    height: 32px;
    width: 32px;
  }
}
.Social-item {
  font-size: 1.5em;
  margin-right: 15px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 991px) {
    margin-right: 0;
  }
  a {
    color: $white;
    &:hover, &:focus {
      color: $brown;
      text-decoration: none;
    }
  }
  &--text {
    font-size: 1em;
    span {
      display: block;
    }
  }
  button {
    background-color: transparent;
    border: none;
    color: $white;
    padding: 0;
    &:hover {
      color: $brown;
    }
  }
}
